.caption
	position absolute
	bottom 5px
	background rgba(black,.3)
	left 5px
	right 5px

	h3 
		font-size 16px 
		line-height 20px
		margin 0
		color white
		// text-shadow 2px 2px 0 rgba(black,.8)

.thumbnail
	position relative
	overflow hidden
	margin-bottom 10px
	// &:hover img 
	// 	-webkit-transform scale(1.1)
	// 	// transition .3s
	// 	display block
.file-input-wrapper
	overflow: hidden;
	position: relative;
	cursor: pointer;
	z-index: 1;
	cursor pointer
	input 
		position absolute
		top 0
		right 0
		opacity 0
		cursor pointer